*{
    box-sizing: border-box;
}

body {
    background-color: #D7C0D8;
    width: 100%;
    margin: 0;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
#Nav{
    background-color: #420270 !important;
}
#Home-Button{
    border: none;
    background-color: #420270;
    color: #D7C0D8;
}
#Home-Button:hover{
    background-color: #A659BD;
    color: #420270;
}
#Search-Button{
    border: none;
    background-color: #420270;
    color: #D7C0D8;
}
#Search-Button:hover{
    border: none;
    background-color: #A659BD;
    color: #420270;
}
#searcher{
    color: #A659BD !important;
}
main{
    display: flex;
}
/* .sidebar-container{
    background-color: #420270;
    max-width: 20vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.side-content{
    margin: 3vh 3vw;
    font-size: 1.5vw;
}
.side-content > section {
    border-bottom: 2px solid #A659BD;
}
.song-side h3{
    text-align: center;
}
.song-side a{
    display: flex;
    flex-direction: column;
    margin: 3vh auto;
    text-decoration: none;
    color: #D7C0D8;
}
 */











.banner{
    min-height: 35vh;
}
.Music{
    border: 2px solid black;
    width: 100%;
}
.songs{
    border: 2px solid black;
    margin:10vh 10vw;
    padding: 3vh 3vw;
}

.Albums{
    border: 2px solid black;
    margin:10vh 10vw;
    padding: 3vh 3vw;
}

.songs ul, .Albums ul{
    padding: 0 3vw;
}
.songs ul li, .Albums ul li{
    list-style-type: none;
    padding: 3vh 3vw;
    border: 2px solid black;
    margin:3vw auto;
}